*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.btn {
    background-color: #469165;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;

}

.btn:hover {
    background-color: white;
    color: #469165;
    box-shadow: 0px 2px 15px rgba(100, 100, 100, 0.105);
    border: 1px solid #469165;

}

.paragraph{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}


/* main Style */

header {
    padding: 16px 0;
    background-color: #FFFFFF;
}

header #nav-container {
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

#nav-container .logo img {
    max-width: 139px;
}


#nav-container .menu ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

#nav-container .menu li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 152%;
    font-weight: 500px;
    color: #000000;
}

main #hero {
    padding-top: 115px;
    background: url(../assets/hero-bg.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero .hero-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    
}

.hero-container .btn-type-two {
    padding: 8px 12px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

#hero .hero-container .text h1 {
    font-size: 72px;
    color: #FFFFFF;
    line-height: 84px;
    font-weight: bold;
    margin-bottom: 16px;
}

#hero .hero-container .text .style-text {
    display: inline-block;
    color: #469165;
}

#hero .hero-container .text p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
    padding: 0 200px;
}

#hero .hero-container .btn-type-three {
    background-color: rgba(0,0,0,0.1);
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 16px;

}

#hero .hero-container .btn-type-three:hover {
    background-color: #469165;
    color: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(100, 100, 100, 0.105);
    border: 1px solid #469165;
}


main #feature {
    padding-top: 44px;
}

#feature .feature-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    
}

#feature .feature-container .feature-heading {
    text-align: center;
}

.feature-container .feature-heading h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

#feature .feature-container .card-container {
    display: flex;
    gap: 24px;
    margin-top: 44px;
}

.feature-container .card-container .card {
    max-width: 322px;
    padding: 69.5px 24px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.10);
}

.card .icon-box {
    max-width: 60px;
    background-color: #F95555;
    padding: 14px;
    border-radius: 100%;
    margin: 0 auto;
}

.card h3 {
    margin: 16px 0px;
    font-size: 24px;
    font-weight: 600;
}